
[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Icon[en_US]=gnome-panel-launcher
Name[en_US]=Python Simple Web Server
Exec=bash python
Name=Python Simple Web Server
Icon=gnome-panel-launcher
